*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;

}

:root{
 --color-primary: ;
 --color-secondary: ;
}

html{
 scroll-behavior: smooth;
}
body{
 background-color: #000;
}

.nav_container{
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 gap: 16px;
 padding: 0 20px;
 width: 100%;
 height: 72px;
 background-color: transparent;
 z-index: 9;
}

nav a{
 color: red;
 text-decoration: none;
 transition: 0.3s;
}

nav a.active{color: #8f44fd;}

/* carousel */
.carousel img{
 height: 90vh;
}

/* Section Quienes somos */
.section-uno{

}
.section-qSomos .icono{
 background-color: #10CAF0;
 width: 100%;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}


/* Section Destacados */

.contenedor-card{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: 1fr;
}

.card img{
 height: 176px;
 width: 100%;
}

.card .card-body{
 background-color: #10CAF0;
}

.card .card-text{
 color: #ffffff;
}


.section-dos {
 height: 100vh;
 background-color: red;
}

.section-tres {
 height: 100vh;
 background-color: green;
}


@media (min-width: 768px) {
.contenedor-card {

  grid-template-columns: repeat(2, 1fr);
gap: 16px;
 }
}

@media (min-width: 998px) {
 .contenedor-card {

  grid-template-columns: repeat(3, 1fr);

 }
}

@media (min-width: 1140px) {
 .contenedor-card {

  grid-template-columns: repeat(4, 1fr);

 }
}