*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;

}

:root{
 --color-primary: #fff;
 --color-secondary: #10CAF0;
}
h1,h2,h3,h4,h5,h6,p{
  color: var(--color-primary);
  margin: 0;
}

html{
 scroll-behavior: smooth;
}
body{
 background-color: #000;
}

/* NAVBAR */
.sticky-top{
  position: fixed;
  width: 100%;
}

.nav_container{
 top: 0;
 left: 0;
 background-color: transparent;
}

.navbar-mod{
  backdrop-filter: blur(10px) !important;
}

.collapse.show .navbar-nav{
  height: 100vh;
}

/* Section Quienes somos */
.section-qSomos h3{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-qSomos .icono{
 background-color: var(--color-secondary);
 width: 100%;
 height: 30px;
 justify-content: center;
 align-items: center;
}

.section-qSomos .fa-solid{
  color: var(--color-primary);
  font-size: 26px;
}


/* Section Destacados */
.section-destacado h3{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.contenedor-card{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: 1fr;
}

.card{
  position: relative;
  height: 360px;
  overflow: hidden;
}

.card img{
  height: 176px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.card img:hover{
  transform: scale(1.2);
}

.card .card-body{
 background-color: var(--color-secondary);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.card .card-title{
  font-size: 1em;
  font-weight: 400;
}

.card .card-text{
  font-size: 14px;
  font-weight: 400;
}

/* Seccion Contacto */
.section-contact h5{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-contact label{
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 400;
}

.section-contact .btn-contact{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.section-contact hr{
  border: 1px solid gray;
  margin: 20px 30px;
}

/* Footer */
footer{
  background-color: var(--color-secondary);
  height: 10vh;
}
footer p{
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}
 footer .fa-brands{
  color: var(--color-primary);
  margin-right: 4px;
 }

@media (min-width: 768px) {
.carousel img {
    height: 90vh;
  }

.contenedor-card {

  grid-template-columns: repeat(2, 1fr);
gap: 16px;
 }

footer p{
  font-size: 26px;
}
 footer .fa-brands{
  font-size: 26px;
  margin-right: 10px;
 }
}

@media (min-width: 998px) {
 .contenedor-card {

  grid-template-columns: repeat(3, 1fr);

 }
}

@media (min-width: 1140px) {
 .contenedor-card {

  grid-template-columns: repeat(4, 1fr);

 }
}